.panel-borders {
    border-radius: 20px;
}

.component-borders {
    border-radius: 10px;
}

.nav-panel {
    background-color: var(--secondary-color);
    filter: drop-shadow(0px 4px 0px var(--dark-color));
    border-radius: 0px 20px 20px 0px;
}

.about-panel {
    background-color: var(--primary-text-color);
    filter: drop-shadow(0px 4px 0px var(--dark-color));
}

.about-panel-top {
    border-radius: 20px 20px 0px 0px;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border-bottom: 2px var(--dark-color) solid;
}
