:root {
  --primary-bg-color: #e6f4f1;
  --primary-text-color: #f4f9ff;
  --accent-color: #1e90ff;
  --secondary-color: #7e90bc;
  --dark-color: #414756;
}

body {
  background-color: var(--primary-bg-color);
}

.mantine-AppShell-navbar {
  background-color: var(--primary-bg-color);
}